<app-nav-bar></app-nav-bar>
<div class="card me-3 mb-3" style="width: 18rem; height: 18rem;">
    <img src="https://www.kayak.com.gt/rimg/himg/5a/c3/8d/leonardo-2083860-guaar-exterior-0017-hor-clsc_O-717269.jpg?width=1366&height=768&xhint=1620&yhint=1000&crop=true"
     class="card-img-top" alt="https://www.kayak.com.gt/rimg/himg/5a/c3/8d/leonardo-2083860-guaar-exterior-0017-hor-clsc_O-717269.jpg?width=1366&height=768&xhint=1620&yhint=1000&crop=true">
    <div *ngFor="let hotel of hotels" class="card-body">
      <h5 class="card-title">{{hotel.name}}</h5>
      <a href="#" class="btn btn-primary">Reservar</a>
      <a href="#" class="btn btn-primary">ver eventos</a>
    </div>
  </div>