<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Habitaciones</h3>
    <button type="button" class="btn btn-secondary btn-lg btn-card" data-bs-toggle="modal"
data-bs-target="#exampleModal">Agregar Habitacion </button>
</div>
<section class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a  class="TituloInfo">Single</a>
                    <p>Cantidad de Habitaciones Disponibles
                    </p>
                    
                    <p>Precio 280$</p>
                    
                </div>
            </div>
        </div>
        <!---Contenedores de Blog2-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">

                    <a  class="TituloInfo">Duo</a>
                    <p>Cantidad de Habitaciones Disponibles
                    </p>
                    
                    <p>Precio 370$</p>
                    
                </div>
            </div>
        </div>
        <!---Contenedores de Blog3-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">

                    <a  class="TituloInfo">Suite</a>
                    <p>Cantidad de Habitaciones DIsponibles 
                    </p>
                    
                    <p>Precio 500$</p>
                    
                </div>
            </div>
            <!--Modal-->


        </div>



    </div>
</section>







<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Agregar Habitacion </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Centrado">
                    <span>Tipo de Habitacion</span>
                    <input class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span>Precio por Habitacion</span>
                    <input class="ms-2" type="text">
                    
                </div>
                <div>
                    <span>Cantidad por Habitacion</span>
                    <input class="ms-2" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
