<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Eventos</h3>
    
</div>
<section class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores" *ngFor="let event of events">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a  class="TituloInfo">{{event.name}}</a>
                    <p>{{event.description}}
                        <br>
                        <br>
                        Precio: Q.{{event.price}} 
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
