<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Usuarios</h3>
    
</div>
<section class="mt-5">
  <!-----Titulo-->
  <div class="display">
      <!---Contenedores de Blog-->
      <div class="contenedores" *ngFor="let hotel of hotels">
          <!--Caja Uno-->
          <div class="CajaDeInfo">
            <div  class="ImagenInfo" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Nombre: {{hotel.user.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Nombre de usuario: {{hotel.user.username}}</h6>
                  <p class="card-subtitle mb-2 text-muted">Email: {{hotel.user.email}}</p>
                  <p class="card-subtitle mb-2 text-muted">Teléfono: {{hotel.user.phone}}</p>
                  
                  
                </div>
              </div>
            </div>
      </div>

  </div>
</section>