<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Usuarios</h3>
    
</div>
<section class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <table class="table">
            <thead>
              <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Reservación</th>
                <th scope="col">Habitación</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="table-light">1</th>
                <td class="table-light">Daniel Juarez</td>
                <td class="table-light">1 </td>
                <td class="table-light">Suite</td>
                
              </tr>
              <tr>
                <th scope="row" class="table-light">2</th>
                <td class="table-light">Diego Solís</td>
                <td class="table-light">1</td>
                <td class="table-light">Single</td>
               
              </tr>
              <tr>
                <th scope="row" class="table-light">3</th>
                <td class="table-light" >Maria Lopez</td>
                <td class="table-light">2</td>
                <td class="table-light">Duo</td>
                
              </tr>
            </tbody>
          </table>



    </div>
</section>