<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Facturas</h3>
</div>

<section class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a class="TituloInfo">Hilton</a>
                    <p> Fecha de Inicio: 2022/09/22
                       <br> Noches: 2
                       <br> Total: 480
                       <br> Estado: Cancelado
                    </p>
                    
                </div>
            </div>
        </div>
        <!---Contenedores de Blog2-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">

                    <a  class="TituloInfo"> Camino Real</a>
                    <p> Fecha de Inicio: 2022/09/22
                        <br> Noches: 2
                        <br> Total: 480
                        <br> Estado: Cancelado
                     </p>
                    
                </div>
            </div>
        </div>
        
        


    </div>
</section>