<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Facturas</h3>
</div>

<section class="mt-5" *ngFor="let invoice of invoices">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a class="TituloInfo">{{invoice.hotel.name}}</a>
                    <p>Fecha de inicio: <br> {{invoice.dateStart}}
                       <br> Noches: {{invoice.days}}
                       <br> Total: {{invoice.total}}
                       <br> Estado: {{invoice.condition}}
                       <br> Usuario: {{invoice.user.name}}
                    </p>
                    
                </div>
            </div>
        </div>

    </div>
</section>