<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Reservacion</h3>
</div>
<button (click)="cancelReservation()" type="button" class="btn btn-secondary btn-lg btn-card" >Cancelar Reservacion</button>
<button type="button" class="btn btn-secondary btn-lg btn-card" data-bs-toggle="modal"
data-bs-target="#Modal2">Pagar Reservacion</button>
<section  class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a class="TituloInfo">Hotel: <br>{{reservations.hotel.name}}</a>
                    <p>Días de la reserva: <br> {{reservations.days}} <br>
                     Cantidad de habitaciones: <br>{{reservations.quantity}}
                       <br>Total: Q.{{reservations.total}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>







<!-- Modal -->


<div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="Modal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal2Label"> Pagar Reservacion </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addPayForm="ngForm"> 
                <div class="Centrado">
                    <p>Total: Q.{{reservations.total}}
                <br>
                    Saldo:
                    
                </p>
                    <div class="mb-4">
                        <label for="pay" class="form-label">  </label>
                        <input [(ngModel)]="pay" name="pay" type="number" class="form-control" id="pay">
                      </div>
                    
                </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button (click)="payReservation(addPayForm)" data-bs-toggle="modal" type="button" class="btn btn-primary">Pagar</button>
            </div>
        </div>
    </div>
</div>
