<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Usuarios</h3>
    <button type="button" class="btn btn-secondary btn-lg btn-card" data-bs-toggle="modal"
data-bs-target="#exampleModal">Agregar Administrador de Hotel </button>
</div>
<div class="text-center row">
<div *ngFor="let userA of user" class="card me-3 mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">name:{{userA.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">username:{{userA.username}}</h6>
      <p class="card-subtitle mb-2 text-muted">phone:{{userA.phone}}</p>
      <p class="card-subtitle mb-2 text-muted">role:{{userA.role}}</p>
      <button (click)="getUserId(userA._id)" data-bs-toggle="modal" data-bs-target="#updateModal">Editar usuario</button>
      <button (click)="deleteUserA(userA._id)">Eliminar usuario</button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Agregar Usuario </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Centrado">
                    <span for="name">Name: </span>
                    <input [(ngModel)]="userM.name" class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span for="surname">Surname: </span>
                    <input [(ngModel)]="userM.surname" class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span for="username">Username: </span>
                    <input [(ngModel)]="userM.username" class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span for="email">Email: </span>
                    <input [(ngModel)]="userM.email" class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span for="phone">Phone: </span>
                    <input [(ngModel)]="userM.phone" class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span for="password">Password: </span>
                    <input [(ngModel)]="userM.password" class="ms-2" type="text">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button (click)="saveAdminHotel()" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Actualizar sucursales</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form *ngIf="user"  >
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input [(ngModel)]="this.userUpdate.name" name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="surname" class="form-label">Surname</label>
              <input [(ngModel)]="this.userUpdate.surname" name="surname" type="text" class="form-control" id="surname">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input [(ngModel)]="this.userUpdate.username" name="username" type="text" class="form-control" id="username">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input [(ngModel)]="this.userUpdate.email" name="email" type="text" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input [(ngModel)]="this.userUpdate.phone" name="phone" type="text" class="form-control" id="phone">
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="updateuserAdmin()"  data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>