<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Usuarios</h3>
    <button type="button" class="btn btn-secondary btn-lg btn-card" data-bs-toggle="modal"
data-bs-target="#exampleModal">Agregar Administrador de Hotel </button>
</div>
<section class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a  class="TituloInfo"> diegof_03</a>
                    <p>Nombre: Diego Fernando <br>
                        Apellido: Solís López <br>
                        Funcion: Admin<br>
                        Telefono: 58989610
                    </p>
                </div>
            </div>
        </div>
        <!---Contenedores de Blog2-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">

                    <a  class="TituloInfo">Gmonzon04</a>
                    <p>Nombre: Edgar Gerardo <br>
                        Apellido: Monzon Marroquin <br>
                        Funcion: Admin<br>
                        Telefono: 7577631
                    </p>
                </div>
            </div>
        </div>
        <!---Contenedores de Blog3-->
        <div class="contenedores">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">

                    <a  class="TituloInfo">mruiz-2018 </a>
                    <p>Nombre: Manuel Enrique <br>
                        Apellido: Ruiz Sequen<br>
                        Funcion: Admin  <br>
                        Telefono:  67891234
                    </p>
                </div>
            </div>


        </div>



    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Agregar Evento </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Centrado">
                    <span>Nombre: </span>
                    <input class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span>Usuario: </span>
                    <input class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span>Email: </span>
                    <input class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span>Telefono: </span>
                    <input class="ms-2" type="text">
                    
                </div>
                <div class="Centrado">
                    <span>Contraseña: </span>
                    <input class="ms-2" type="text">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>