<app-nav-bar></app-nav-bar>

<div class="Titulos">
    <span></span>
    <h3>Habitaciones</h3>
</div>
<section class="mt-5">
    <!-----Titulo-->
    <div class="display">
        <!---Contenedores de Blog-->
        <div class="contenedores" *ngFor="let room of rooms">
            <!--Caja Uno-->
            <div class="CajaDeInfo">
                <!--Imagen de Apartado-->
                <div class="ImagenInfo">

                </div>
                <!--Texto-->
                <div class="textInfo">
                    <a  class="TituloInfo">{{room.type}}</a>
                    <p>Cantidad de Habitaciones Disponibles
                    </p>
                    <label for="exampleInputEmail1" class="form-label" style="text-align: center; font-weight: bold; font-size: 25px;">{{room.available}}</label>                    
                    <p>Precio: Q.{{room.price}}</p>
                    <button *ngIf="role=='CLIENT'" type="button" class="btn btn-primary">Reservar</button>
                </div>
            </div>
        </div>

    </div>
</section>


